

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class= "fa" })
        </li>
        <li><a class="fa" href="javascript:document.getElementById('logoutForm').submit()">Atsijungti</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in" style="padding: 10px"></i> <span class="hidden-xs text-uppercase">Prisijungti</span></a>
        @Html.Partial("_LoginModal")
    </ul>
}