@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <!-- *** MENUS AND WIDGETS ***
                _________________________________________________________ -->

                <div class="panel panel-default sidebar-menu with-icons">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active" id="testass">
                                Accordions
                            </li>
                            <li>
                                <a href="template-alerts.html">Alerts</a>
                            </li>
                            <li>
                                <a href="template-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="template-content-boxes.html">Content boxes</a>
                            </li>
                            <li>
                                <a href="template-blocks.html">Horizontal blocks</a>
                            </li>
                            <li>
                                <a href="template-pagination.html">Pagination</a>
                            </li>
                            <li>
                                <a href="template-tabs.html">Tabs</a>
                            </li>
                            <li>
                                <a href="template-typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @* TABLE *@
            <div class="col-md-9">
                <table id="products" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Pavadinimas</th>
                            <th>Įpakavimas</th>
                            <th>Firma</th>
                            <th>Pašalinti</th>
                            @*<th>Pakeisti</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            @* END TABLE *@
        </div>
    </div>
</section>

<div>
    <a class="btn btn-primary" data-toggle="modal" data-target=".create"><span class="glyphicon glyphicon-edit"></span>  Įdėti produktą</a>
    @Html.Partial("_New")
</div>

@Html.ActionLink("New", "New", "Products")
@*<div>
    <a class="btn btn-primary" data-toggle="modal" data-target=".edit"><span class="glyphicon glyphicon-edit"></span>  Įdėti produktą</a>
    @Html.Partial("_Edit")
</div>*@




@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#products").DataTable({
                ajax: {
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    sAjaxDataProp: "",
                    url: "/api/products",
                    dataSrc: ""
                },
                columns: [
                    { data: "name", "autowidth": true },
                    { data: "packaging", "autowidth": true },
                    { data: "company.name", "autowidth": true },
                    {
                        data: "id",
                        width: "50px",
                        render: function(data) {
                            return "<button class='btn-link js-delete popup' data-product-id=" +
                                data +
                                ">Pašalinti</button>";
                        }
                    },
                    //{
                    //    data: "id",
                    //    width: "50px",
                    //    render: function(data) {
                    //        return "<a class='btn-link' href='/products/edit/" + data + "'>Pakeisti</a>";
                    //    }
                    //}
                ]
            });


            $("#products").on("click",
                ".js-delete",
                function() {
                    var buttonDom = $(this);
                    bootbox.confirm("Ar tikrai norite ištrinti?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/products/" + buttonDom.attr("data-product-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(buttonDom.parents("tr")).remove().draw();
                                    }

                                });

                            }
                        });
                });

            $("#testass").on("click",
                function() {
                    table.destroy();
                    table = $("#products").DataTable({
                        ajax: {
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            sAjaxDataProp: "",
                            url: "/api/products",
                            //url: "/api/products?categoryId=6",
                            dataSrc: ""
                        },
                        columns: [
                            { data: "name", "autowidth": true },
                            { data: "packaging", "autowidth": true },
                            { data: "company.name", "autowidth": true },
                            {
                                data: "id",
                                render: function(data) {
                                    return "<button class='btn-link js-delete' data-product-id=" +
                                        data +
                                        ">Delete</button>";
                                },
                                "autowidth": true
                            }
                        ]
                    });
                });
        });
    </script>
}

